@import url('https://fonts.googleapis.com/css?family=Comfortaa|Playball');

/* GLOBAL */
* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-color: #fafafa;
    color: #212121;
}

.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

header{
    height: 600px;
}

section {
    height: 100%;
}

/* HEADER */

header {
    background: url("../assets/header-img2.jpg");
    color: #fff;
    text-align: center;
}

header .container {
    font-size: 1.5em;
    padding-top: 10%;
}

header .container h1 {
    font-weight: 400;
    margin-bottom: 20px;
}

#julius {
    font-family: "Playball", cursive;
    font-size: 2.5em;
    font-weight: 400;
}

/* #contact */

#contact {
    font-size: .7em;
    margin-top: 130px;
    letter-spacing: 1px;
}

#fullname {
    font-size: 1.3em;
    margin-bottom: 10px;
}

#contact p {
    margin-bottom: 5px;
}

/* #resume */

#resume {
    background-color: #004ba0;
    letter-spacing: 2px;
    font-size: 12px;
    transition: all 0.2s ease-out;
    text-align: center;
    clear: both;
}

#resume:hover {
    background-color: #00835B;
}

#resume img {
    vertical-align: middle;
}

/* #work */

#exp {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#exp span {
    font-family: 'Playball', cursive;
    font-size: 2em;
}

.date, .description {
    float: left;
}

.date {
    width: 30%;
    text-align: center;
    padding-top: 15px;
}

.description {
    width: 70%;
}

.description li {
    padding-left: 15px;
}

.job {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.company {
    font-weight: bold;
}

.comp-add {
    padding-bottom: 10px;
}

/* if the browser supports css grid */
@supports (display: grid)
{
    #work-grid {
        display: grid;
        grid-template-columns: 30% auto;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
    }

    .date {
        padding-top: 0;
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .comp-add {
        padding-bottom: 0;
    }
}

/* tablet size */
@media screen and (min-width: 768px) 
{ 
    body {
        font-size: 16px;
    }
    .container {
        width: 75%;
    }

    #work-grid {
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@supports not (display: grid) {
    @media screen and (min-width: 768px)
    {
        .date, .description {
            width: 50%;
        }
    }
}