@import url('https://fonts.googleapis.com/css?family=Comfortaa|Playball');

/* GLOBAL */
* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

header, section {
    height: 600px;
}

/* #resume */

#resume {
    position: fixed;
    margin-top: 250px;
    padding: 20px;
    background-color: #004ba0;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all 0.2s ease-out;
}

#resume:hover {
    padding-left: 60px;
    background-color: #00835B;
}

#resume img {
    vertical-align: middle;
}

/* HEADER */

header {
    background: url("../assets/header-img2.jpg");
    color: #fff;
    text-align: center;
}

header .container {
    font-size: 1.5em;
    padding-top: 10%;
}

header .container h1 {
    font-weight: 400;
}

#julius {
    font-family: "Playball", cursive;
    font-size: 2.5em;
    font-weight: 400;
}

/* #contact */

#contact {
    font-size: .7em;
    margin-top: 130px;
    letter-spacing: 1px;
}

#fullname {
    font-size: 1.3em;
    margin-bottom: 10px;
}

/* #work */

#work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}