@import url('https://fonts.googleapis.com/css?family=Comfortaa|Playball');

/* GLOBAL */
* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-color: #fafafa;
    color: #212121;
}

.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* HEADER */

header {
    height: 600px;
    background: #1565C0;
    color: #fff;
    text-align: center;
}

header .container {
    font-size: 1.5em;
    padding-top: 40px;
}

header .container h1 {
    font-weight: 400;
    margin-bottom: 20px;
}

#julius {
    font-family: "Playball", cursive;
    font-size: 2.5em;
    font-weight: 400;
}

#mini-photo {
    width: 150px;
    border-radius: 50%;
    border: 8px solid #CFD8DC;
}

/* #contact */

#contact {
    font-size: .7em;
    margin-top: 10px;
    letter-spacing: 1px;
}

#fullname {
    font-size: 1.3em;
    margin-bottom: 10px;
}

#contact p {
    margin-bottom: 5px;
}

/* #resume */

#resume {
    vertical-align: middle;
    background-color: #004ba0;
    letter-spacing: 2px;
    transition: all 0.2s ease-out;
    text-align: center;
    clear: both;
}

#resume:hover {
    background-color: #00835B;
}

#resume img {
    vertical-align: middle;
    padding: 5px;
}

/* #work-section */

.headings {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

.headings span {
    font-family: 'Playball', cursive;
    font-size: 2em;
}

.left-side, .right-side {
    float: left;
}

.left-side {
    width: 30%;
    text-align: center;
    padding-top: 15px;
}

.right-side {
    width: 70%;
}

.right-side li {
    padding-left: 15px;
    padding-bottom: 5px;
}

.job, #skills-section .left-side {
    font-size: 1.2em;
    font-weight: bold;
}
.job {
    padding-bottom: 10px;
    padding-top: 10px;
}

.company {
    font-weight: bold;
}

.comp-add {
    padding-bottom: 10px;
}

#work-bottom {
    padding-bottom: 20px;
}

#skills-section {
    background-color: #78909C;
    color: #ffffff;
    clear: both;
}

/* if the browser supports css grid */
@supports (display: grid)
{
    .grid-container {
        display: grid;
        grid-template-columns: 30% auto;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
    }
    #skills-section .grid-container {
        grid-template-columns: auto auto;
        padding: 20px;
    }

    .left-side {
        padding-top: 0;
        width: 100%;
    }

    .right-side {
        width: 100%;
    }

    .comp-add {
        padding-bottom: 0;
    }
}
/* if the browser DOES NOT support css grid */
@supports not (display: grid)
{  
    #skills-section {
        height: 700px;
    }
    #skills-section .left-side {
        width: 50%;
    }
    #skills-section .right-side {
        width: 50%;
    }

    @media screen and (min-width: 768px)
    {
        .left-side, .right-side {
            width: 50%;
        }
    }
    @media screen and (min-width: 360px)
    {
        #skills-section {
            height: 600px;
        }
    }
}

/* tablet size */
@media screen and (min-width: 768px) 
{ 
    body {
        font-size: 16px;
    }
    .container {
        width: 75%;
    }

    .grid-container {
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    #skills-section .grid-container {
        grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1200px)
{
    header {
        background: url("../assets/header-img2.jpg");
    }

    #mini-photo {
        width: 0px;
    }

    header .container {
        padding-top: 100px;
    }
}